.skills-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: 1px solid;
	border-image:linear-gradient(90deg,rgba(255, 255, 255,0.2),rgb(49,49,58));
	border-image-slice: 1;
}
.skills-knowledge{
	border-right: 1px solid;
	border-image:linear-gradient(rgba(255, 255, 255,0.2),rgb(49,49,58));
	border-image-slice: 1;
}

.skills-language,.skills-design{
	padding: 30px;
}

.skills-knowledge{
	padding: 30px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;

}

.skills-header{
	display: flex;
	align-items: center;
	flex-direction: row;
	padding-bottom: 20px;	
}
.skills-icon{
	display: block;
	font-size: 28px;
	color:rgb(120, 204, 109);
	margin-right: 10px;
}
.skills-block{
	border-top: 1px solid;
	border-image:linear-gradient(90deg,rgba(255, 255, 255,0.2) 10%,rgb(49,49,58));
	border-image-slice: 1;
}
.skill-bar-title{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85);
	margin-top: 20px;
}
.skill-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: rgb(62,65,72);
	margin-bottom: 20px;

}
.skill-bar-fill{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgb(120,204,109);

}
.bar-fill-photoshop{
	width: 80%;
}
.bar-fill-web{
	width: 60%;
}
.skill-bar-circle{
	width: 100%;
	height: 20px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(10,1fr);

}
.skill-circle-fill{
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 50%;
	background-color: rgb(120,204,109);
}
.circle-not-fill{
	background-color:  rgb(62,65,72);
}
.knowledge-list{
	list-style-type: disc;
	list-style-position: inside;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.85);
	margin-top: 20px;
}
